section {min-height: 100vh;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

    
.logocomputador{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    
}
.logocomputador img {
    width: 80px;

}
.lojacomputador{
    display:flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 0px;
    padding-left: 35px;
    padding-bottom: 10px;
    align-items: center;
    font-size: 50px;
}
/* Menu sticky */
.menu-sticky {
    display:flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

    position: sticky;
    top: 0;
    background-color:#E4C2DE;
    color: white;
    /* padding: 20px 0; */
    /* text-align: center; */
    z-index: 1000;
    height: 120px; /* Altura definida explicitamente */
}

.menu-sticky nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.menu-sticky nav a:hover {
    color: #ff00c8;
}

/* Seções - são as âncoras */
section {
    padding: 10px ; 
    min-height: 100vh ;
    text-align: center;
    scroll-margin-top: 120px; /* Corresponde à altura do menu */
}
section h1{
    margin-top: 15px;
    margin-bottom: 10px;
}
.produtos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.preco{
    color:red
}
.Computadordell img{
    width: 100%;
}
.computadorapple img{
    width: 100%;
}
.fonedeouvido img{
    width: 100%;
}
.mouse img{
    width: 100%;
}
.caixadesom img{
    width: 100%;
}
.produto {
    margin: 10px;
}
.produto ul{
    text-align: left;
}

#computadores {
    background-color: #e0e0e0;
}

#acessórios {
    background-color: #f0f0f0;
}
#cadastro {
    background-color: #f0f0f0;
}
.formimg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
    align-content: start;
}
form input{
    height: 30px;
}
.produtos img{
    width: 100%;
    padding: 10px;
}
.divestrela{
    /* width: 350px; */
    width: 100%;
    
}
.divestrela img{
width: 100%;
height: auto;
}
@media (width < 900px) {

.produtos figcaption{
display:none;
}
.formimg{
    grid-template-columns: 1fr;

   /* width: 30px; */
}
}

footer{
    padding: 4%;
}